.root {
    padding: 1rem;
    position: relative;
}

.media {
    padding-right: 1rem;
}

.time {
    margin-top: .5rem;
}

.del {
    display: none !important;
    position: absolute !important;
    right: 1.5rem !important;
    top: 50% !important; /* 開始位置を親要素の半分の位置に */
    transform: translateY(-50%) !important; /* `top: 50%`で行き過ぎた分を調整する */
}

.root:hover .del {
    display: inline-block !important;
}
